<div class="about">
<div class="about__devider">**************************************************************</div>
<div class="about__text">
<strong> 新手也有高质量博客 </strong>
<br>☕ 专注全栈技术类 🛠️
<br> 更多的内容都在链接<a href="http://106.53.100.181/">（http://106.53.100.181/）</a>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript">

    $(function(){	

        $(window).scroll(function() {		

            if($(window).scrollTop() >= 100){

                $('.actGotop').fadeIn(300); 

            }else{    

                $('.actGotop').fadeOut(300);    

            }  

        });

        $('.actGotop').click(function(){

        $('html,body').animate({scrollTop: '0px'}, 800);});	

    });

</script>
<div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>
</div>
</div>